.container{
    background-color: #AED6F1;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
    
}

    
.img-circle{
    
    border-radius: 130px;
    
    
}

.p{
    
   color: #D4AC0D  ;
    
    
}

    
